@charset "UTF-8";

@media screen and (max-width: 1005px){
    .navibar {
        position: relative;
    }
    .navibar .menu {
        display: none;
    }
    .cabecalho {
        padding-top: 50px;
    }
    .logo{
        text-align: center;
    }
    .headline {
        text-align: center;
        flex: 100%
    }

    .imgheadline {
        text-align: center;
        flex: 100%;
    }
    .imgheadline img {
        width: 60%;
    }
    main {
        height: 800px;
    }
    .cards {
        width: 100%;
    }
    #whats {
        display: none;
    }
}