@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

@font-face {
    font-family: "Minha fonta";
    src: url('littlebird.ttf');
}

body {
    font-size: 15pt;
}

h2 {
    font-weight: normal;
}

h2#padrao {
    font-family: ;
}